body {
    background-color: #121212; 
    color: white; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
}
header {
    background-color: #1C1C1C; 
     width: 100%; 
     text-align: center; 
     padding: 10px 0; 
 }

 #main-content {
     margin: 20px;
     padding: 20px;
     border: 1px solid #ffffff;
     width: 80%;
 }
 #sidebar {
    overflow: hidden;
    transition: all 0.3s;
    transform-origin: right;
}

#resizer {
    cursor: col-resize;
}

#search-history-title {
    padding: 10px;
}

#search-section input {
    padding: 10px;
}

#search-section button, .history-btn {
    padding: 10px;
}

@media (max-width: 768px) {

    #sidebar {
        padding: 10px;
    }
}

#city-events img {
    height: 100px;
} 